.mainDiv {
    width: 90%;
    max-height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
}

.leftDiv{
    max-height: 80%;
    width: 70%;
}

.leftTopDiv{
    max-height: 51vh;
    overflow-y: scroll;
}

.leftTopDiv::-webkit-scrollbar {
    display: none;
}

.subDiv{
    width: 90%;
    height: 20vh;
    display: flex;
    justify-content: space-between;
}

.subDiv2{
    width: 90%;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #cfcdcd;
    border-bottom: 1px solid #cfcdcd;
    margin-top: -3vh;
}

.subDiv2 select{
   width: 100%;
   height: 4.5vh;
   background-color: white;
   border: 1px solid #cfcdcd;
   border-radius: 1vh;
   color: #797979;
   font-size: 0.8rem;
}

.subDiv2 select option:first-child[selected] {
    background-color: #F3F3F3;
 }

option{
    background-color: white;
    border: 1px solid #cfcdcd;
}

.subDiv3{
    width: 90%;
    max-height: 28vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #cfcdcd;
}

.subDiv3 .valueDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1% 4% 1% 0%;
}

.valueTopDiv{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    max-height: 100%;
    overflow-y: scroll;
}

.valueTopDiv::-webkit-scrollbar {
    display: none;
}

.imageDiv{
    height: 12vh;
    width: 28%;
    border: 1px solid #2E0052;
    cursor: pointer;
    margin: 1%;
}

.imageDiv img{
    height: 95%;
    width: 90%;
}

.title{
    color: #B52B00;
    font-weight: 600;
}

.valueDiv{
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    width: 40%; 
    color: #797979;
    font-size: 1rem;
}

.valueDiv p{
    max-height: 45%;
    width: 100%;
    border: 1px solid #cfcdcd;
    border-radius: 1vh;
    font-size: 0.9rem;
    overflow-y: scroll;
}

.valueDiv p::-webkit-scrollbar {
    display: none;
}

.leftBottomDiv{
    border-top: 1px solid #cfcdcd;
    margin-top: 1.5%;
}

.bottomDiv{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #cfcdcd;
    border-radius: 1vh;
}

.bottomDiv button{
    width: 39%;
    height: 4vh;
    border-radius: 1vh;
    background-color: #FFD600;
    border: none;
    color: black;
    cursor: pointer;
    font-weight: 700;
    font-size: 0.8rem;
}

.summaryDiv{
    width: 25%;
    height: 100%;
    border: 1px  solid #E1E1E1;
}

.viewInvoice {
    width: 65%;
    height: 5vh;
    margin: 5% 0 0 7%;
    border-radius: 1vh;
    background-color: #FFD600;
    border: none;
    color: black;
    cursor: pointer;
    font-weight: 700;
    font-size: 0.8rem;
}