.mainDiv {
  width: 90%;
  max-height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5%;
}

.leftDiv {
  max-height: 80%;
  width: 70%;
}

.leftTop {
  max-height: 48vh;
  overflow-x: hidden;
  overflow-y: scroll;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}

.leftDown {
  height: 15%;
  margin-left: 35%;
  margin-top: 1%;
  width: 60%;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}

.leftTop::-webkit-scrollbar {
  display: none;
}

.summaryDiv {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 3% 0%;
  font-weight: 500;
  border-left: 1px solid #e1e1e1;
}

.summary {
  height: 40vh;
  width: 90%;
  margin-top: 7%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.summary span {
  font-size: 0.9rem;
}

.amount {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.total {
  margin-top: 25%;
  width: 100%;
}

.viewInvoice {
  width: 65%;
  height: 5vh;
  margin: 5% 0 0 7%;
  border-radius: 1vh;
  background-color: #ffd600;
  border: none;
  color: black;
  cursor: pointer;
  font-weight: 700;
  font-size: 0.8rem;
}

@media (max-width: 600px) {
  .total {
    margin-left: 0%;
    border-top: 1px solid black;
    padding-top: -2%;
  }

  .total span {
    font-weight: 600;
    justify-content: flex-start;
    font-size: 1.4rem;
  }

  .total button {
    margin-left: -2%;
    margin-bottom: 5%;
    width: 95%;
    font-size: 1.4rem;
  }
}
